In [2]:
import pandas as pd
from scipy import stats
import numpy as np

In [3]:
df=pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [4]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# Descriptive Analysis

In [15]:
df['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [8]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [5]:
df.isna().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [45]:
df.groupby(['Gender']).mean()

        Total Marks
Gender
female    33.750000
male      30.416667

In [9]:
df.groupby(['Test preparation']).mean()

                  Total Marks
Test preparation
completed           44.571429
none                28.238095

# 2. Check whether female and male students scored the same marks.

Null hypothesis H0: male marks != female marks
    
Alternate Hypothesis H1: male marks == female marks

In [18]:
boys_mark=df[df['Gender']=='male']
boys_mark['Total Marks']

0     14
6     30
8     18
9     24
10    44
11    23
12    43
13    28
18    47
19    36
20    14
21    44
Name: Total Marks, dtype: int64

In [19]:
female_mark=df.loc[(df['Gender']=='female')]
female_mark['Total Marks']

1     28
2     18
3     48
4     21
5     40
7     12
14    41
15    13
16    48
17    45
22    41
23    27
24    27
25    38
26    50
27    43
Name: Total Marks, dtype: int64

In [46]:
t_stat,p_value=stats.ttest_ind(boys_mark['Total Marks'],female_mark['Total Marks'],alternative='two-sided')

In [47]:
print('T Statistics value is: ',t_stat, 'P value is: ',p_value)

T Statistics value is:  -0.6940885268848668 P value is:  0.4937822317960763

Let us assume that alpha value is 0.05, our p value is 0.493 which is greater than alpha value. So, we accept null hypothesis.

Conclusion:- Female and Male students marks are not same

# 3. Whether test preparation helps the students?

H0: the students who completed the test preparation <= students who didn't completed the test preparation

H1: the students who completed the test preparation > students who didn't completed the test preparation

In [51]:
completed_marks=df.loc[(df['Test preparation']=='completed')]

In [53]:
completed_marks['Total Marks']

5     40
10    44
12    43
16    48
21    44
26    50
27    43
Name: Total Marks, dtype: int64

In [54]:
none_marks=df.loc[(df['Test preparation']=='none')]

In [55]:
none_marks['Total Marks']

0     14
1     28
2     18
3     48
4     21
6     30
7     12
8     18
9     24
11    23
13    28
14    41
15    13
17    45
18    47
19    36
20    14
22    41
23    27
24    27
25    38
Name: Total Marks, dtype: int64

In [58]:
t_stat,P_value=stats.ttest_ind(completed_marks['Total Marks'],none_marks['Total Marks'],alternative='greater')

In [60]:
print('T-statistics value is: ',t_stat,'P-Value is: ',P_value)

T-statistics value is:  3.6143637527769217 P-Value is:  0.0006335646228660053

Let us assume that our alpha is 0.05, from the above we can see that our value for P-value is 0.0006. So, we reject the null hypothesis value.

Conclusion:-The students who completed test preparation scored greater than the students who didn't.